<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kusd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAA346181D9B0607002D9F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA3462C1D9B0608002D9F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA346371D9B0608002D9F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
